body {
  background-color: #141414;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container-input {
  margin-top: 20px;
  margin-right: 10px;
  height: 20px;
}
